<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<div class="t-toolbar">
	<div class="t-toolbar-logo">
		<%= image_tag("logo.png", :alt => "logo",:class => "t-logo -small") %>

	</div>
	<div class="t-toolbar-menu">
		<a class="t-toolbar-el job-seek">Jobseeker</a>
		<a class="t-toolbar-el company-seek">Company</a>
		<a class="t-toolbar-el contact-seek">Contact</a>
		<a class="t-toolbar-el -log t-modal-caller">Log in</a>
	</div>
</div>
<div class="t-modal">
    <div class="t-modal__inner">
        <a class="t-modal__text">We are launching soon</a>
        <a class="t-modal__text">Leave email and we will let you know when everything is ready</a>
        <%= form_for @visitor, :remote => true, as: :visitor, url: '/visitor' do |f| %>
        <div class="t-modal__row">
            <div class="t-modal__row-el">
                <%= f.text_field :email, class: 't-modal__input'%>
            </div>
            <div class="t-modal__row-el t-modal-caller">
                <%= submit_tag "Continue", class: "t-modal__submit t-button -small -white" %>
            </div>
        </div>
        <% end %>
    </div>
    

</div>


<div class="t-blur-all">
<div id="fullpage">
	<!-- OVERVIEW START -->
    <div class="section s-1">
    	<div class="t-overview">
    		<div class="t-overview__header">
    			<a class="t-header -first">Find your first job or internship for free</a>
    		</div>
    		<a class="t-overview__button t-button -white -big job-seek">
    			<span class="t-button__text">For job seekers</span>
    		</a>
    		<a class="t-overview__button t-button -white -big company-seek">
    			<span class="t-button__text">For companies</span>
    		</a>
    	</div>

			<%= image_tag("bottom_picture.png", :alt => "logo",:class => "t-picture -bottom -main") %>

    </div>
    <!-- OVERVIEW END -->


    <!-- FEATURED1 START -->
    <div class="section s-2">

    	<div class="t-featured">
    		<div class="t-featured__row">
    			<div class="t-featured__row-item">
    				<div class="t-featured__icon"><%= image_tag("skills.png", :alt => "logo",:class => "t-help__icon -1") %></div>
    				<div class="t-featured__description">
    					Showcase your skills instead of work experience
    				</div>
    			</div>
    			<div class="t-featured__row-item">
    				<div class="t-featured__icon"><%= image_tag("find.png", :alt => "logo",:class => "t-help__icon -1")%></div>
    				<div class="t-featured__description">
    					Find job or internship that really suits you
    				</div>
    			</div>
    			<div class="t-featured__row-item">
    				<div class="t-featured__icon"><%= image_tag("phone.png", :alt => "logo",:class => "t-help__icon -1") %></div>
    				<div class="t-featured__description">
    					Stay updated with relevant positions and events
    				</div>
    			</div>
    		</div>
    		<a class="t-featured__button t-button -hollow -big t-modal-caller">
    			<span class="t-button__text">Try now for free</span>
    		</a>
    	</div>
    </div>
    <!-- FEATURED1 END -->

    <!-- REGISTER START -->
    <div class="section s-3">
    	<div class="t-register">
    		<div class="t-register__header">
    			<a class="t-header -second">Create account in less than 5 minutes and start your career path</a>
    		</div>
    	<!--	<div class="t-register__row">
    			<div class="t-register__row-item">
					<div id="dd1" class="t-dropdown-wrapper" tabindex="1">
						<a class="t-dropdown__text">STUDENT</a>
						<a class="t-dropdown__title">I'm</a>
						<ul class="t-dropdown">
							<li><a href="#"><i class="icon-envelope icon-large"></i>STUDENT</a></li>
							<li><a href="#"><i class="icon-truck icon-large"></i>GRADUATE</a></li>
						</ul>
					</div>
    			</div>
    			<div class="t-register__row-item">


    					<div id="dd1" class="t-dropdown-wrapper" tabindex="1">
    						<a class="t-dropdown__text">PART-TIME</a>
							<a class="t-dropdown__title">looking for</a>
							<ul class="t-dropdown">
								<li><a href="#"><i class="icon-envelope icon-large"></i>PART-TIME</a></li>
								<li><a href="#"><i class="icon-truck icon-large"></i>FULL-TIME</a></li>
							</ul>
						</div>

    			</div>
    			<div class="t-register__row-item">

    					<div id="dd3" class="t-dropdown-wrapper" tabindex="3">
							<a class="t-dropdown__text">JOB</a>
							<ul class="t-dropdown">
								<li><a href="#"><i class="icon-envelope icon-large"></i>JOB</a></li>
								<li><a href="#"><i class="icon-truck icon-large"></i>INTERNSHIP</a></li>
							</ul>
						</div>

    			</div>
    			<div class="t-register__row-item">
    				<div class="t-button -big -white">
					Continue
				</div>
    			</div>
    		</div>-->
    		<a class="t-register__button t-button -big -white t-modal-caller">
    			<span class="t-button__text">Continue</span>
    		</a>
    	</div>


		<%= image_tag("table.png", :alt => "logo",:class => "t-picture -bottom -register") %>
   	</div>


   	<!-- FEATURED2 START -->
    <div class="section s-4">
    	<div class="t-featured">
    		<div class="t-featured__row">
    			<div class="t-featured__row-item">
    				<div class="t-featured__icon"><%= image_tag("tools.png", :alt => "logo",:class => "t-help__icon -2") %></div>
    				<div class="t-featured__description">
    					Find workers with skills you need
    				</div>
    			</div>
    			<div class="t-featured__row-item">
    				<div class="t-featured__icon"><%= image_tag("contact.png", :alt => "logo",:class => "t-help__icon -2")%></div>
    				<div class="t-featured__description">
    					Use help of machine learning and psychology tests
    				</div>
    			</div>
    			<div class="t-featured__row-item">
    				<div class="t-featured__icon"><%= image_tag("money.png", :alt => "logo",:class => "t-help__icon -2") %></div>
    				<div class="t-featured__description">
    					Save your money and time
    				</div>
    			</div>
    		</div>
    		<a class="t-featured__button t-button -hollow -big t-modal-caller">
    			<span class="t-button__text">Go for it</span>
    		</a>
    		<a class="t-featured__button t-button -hollow -big t-modal-caller">
    			<span class="t-button__text">Check pricing</span>
    		</a>
    	</div>
    </div>
    <!-- FEATURED2 END-->

    <!-- CONTACT START -->
    <div class="section s-5">

    	<div class="t-contact">
    		<div class="t-contact__header">
    			<a class="t-header -first">Join now and get 3 month of premium support for free</a>
    		</div>
    		<a class="t-contact__button t-button -blue -big t-modal-caller">
    			<span class="t-button__text">Sign up</span>
    		</a>
    		<a class="t-contact__button t-button -white -big t-modal-caller">
    			<span class="t-button__text">Read more</span>
    		</a>
    	</div>

		<div id="over">
			<%= image_tag("company.png", :alt => "company",:class => "t-picture -bottom -register") %>
		</div> 
	</div>
	<!-- CONTACT END -->


	<!-- FEEDBACK START -->
	<div class="section s-6">
		<div class="t-feedback">
    		<div class="t-feedback__header">
    			<a class="t-header -first">Connect with us to ask any question or follow the news</a>
    		</div>
    		<a href="https://www.facebook.com/hireyoung/" class="t-contact__button t-button -social">
    			<%= image_tag("facebook.png", :alt => "company",:class => "t-button -social") %>
    		</a>
    		<a href="https://twitter.com/hire_young" class="t-contact__button t-button -social">
    			<%= image_tag("twitter.png", :alt => "company",:class => "t-button -social") %>
    		</a>
    	</div>
    	<%= image_tag("feed.png", :alt => "logo",:class => "t-picture -bottom -feed") %>
    </div>
    <!-- FEEDBACK END -->
</div>
</div>





<script>
$(window).bind("load", function() {
	var $bottomPictureMain=$(".t-picture.-bottom.-main");
	$bottomPictureMain.css("bottom",-700);
	var $menu=$('#fp-nav.right');
	$menu.css('right',-683);
	var $toolbar=$('.t-toolbar');
	$toolbar.css("top",-700);
	
	 $('body').addClass('loaded');
	setTimeout(function(){
		$menu.animate({right:"17"},{ duration: 900, queue: false });
   		$bottomPictureMain.animate({bottom:"0"},{ duration: 1000, queue: false })
   		$toolbar.animate({top:"0"},{ duration: 900, queue: false })
   		
    },600);

});
$(document).ready(function() {

	

  	//$bottomPictureMain.css("opacity",1);


    $('#fullpage').fullpage({
    	onLeave: function(index, nextIndex, direction){
            var leavingSection = $(this);

            var $firstRow=$(".t-help__icon.-1");
            var $secondRow=$(".t-help__icon.-2");
            var $menu=$("#fp-nav ul li a span");
            if(nextIndex==1)
            	$menu.css("background","#50bdc6");

            else if(nextIndex==2){
            	$menu.css("background","#fff");
                if($firstRow.first().height()!=100)
                	$firstRow.animate({height: "100"},600);
            }
            else if(nextIndex==3)
            	$menu.css("background","#50bdc6");

            else if(index==1 && nextIndex==4){
            	$menu.css("background","#fff");
            	if($secondRow.first().height()!=100)
            		$secondRow.animate({height: "100"},800);
            }
            else if(nextIndex==4){
            	$menu.css("background","#fff");
            	if($secondRow.first().height()!=100)
            		$secondRow.animate({height: "100"},600);
            }
            else if(nextIndex==5)
            	$menu.css("background","#50bdc6");
            else if(nextIndex==6)
            	$menu.css("background","#fff");

            
        },
        //menu:'#anchor-menu',
       //anchors:['firstPage', 'secondPage', 'thirdPage','fourthPage','fifthPage','sixthPage'],
        navigation:true
    });


    $(".job-seek").click(function (){
        $.fn.fullpage.moveTo(2);
    });
    $(".company-seek").click(function (){
  	  $.fn.fullpage.moveTo(4);
    });
   	$(".contact-seek").click(function (){
  	  $.fn.fullpage.moveTo(6);
    });

    $(".t-help__icon").css("height",3);

    $(".t-modal-caller").click(function (e){
        popupBanner();
        e.stopPropagation();
    });
    $(document).click(function(e) {
        if($modal.hasClass('-show')){
            $modal.animate({"opacity":"0"},500,function(){$modal.removeClass('-show')});
            $blur.removeClass('-show');
        }
    });
    $modal.click(function(e) {
        e.stopPropagation();
    });

   

   resizeToolbar();
 

});



 
	var toolbar=$('.t-toolbar');
	var toolbarMenu=$('.t-toolbar-menu');
	var toolbarLogo=$('.t-toolbar-logo');

	$(window).resize(function() {
		resizeToolbar();
	});
	
	function resizeToolbar(){
		if(toolbar.width()<=750) {
			if(!toolbarMenu.hasClass('-hidden')) {
				toolbarMenu.toggleClass('-hidden');
			}
			if(!toolbarLogo.hasClass('-center')) {
				toolbarLogo.toggleClass('-center');
			}
		}
		else {
			if(toolbarMenu.hasClass('-hidden')) {
				toolbarMenu.toggleClass('-hidden');
			}
			if(toolbarLogo.hasClass('-center')) {
				toolbarLogo.toggleClass('-center');
			}
		}
	}

    var $modal=$('.t-modal');
	var $blur=$('.t-blur-all');
    
    function popupBanner(){
        if($modal.hasClass('-show')){
            
            $modal.animate({"opacity":"0"},500,function(){$modal.removeClass('-show')});
            $blur.removeClass('-show');
        }
        else {
            $blur.addClass('-show');
            $modal.css('opacity','0');
            $modal.addClass('-show')
            $modal.animate({"opacity":"1"},500);
        }

    }
			



			function dropdown(el) {
				this.dd = el;
				this.placeholder = this.dd.children('span');
				this.opts = this.dd.find('ul.t-dropdown > li');
				this.val = '';
				this.index = -1;
				this.initEvents();
			}
			dropdown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						return false;
					});
					obj.opts.on('click',function(){

						var opt = $(this);
						obj.val = opt.text();
						obj.index = opt.index();
						obj.placeholder.text(obj.val);
					});
				},
				getValue : function() {
					return this.val;
				},
				getIndex : function() {
					return this.index;
				}
			}

			$(function() {

				var dd1 = new dropdown( $('#dd1') );
				var dd2 = new dropdown( $('#dd2') );
				var dd3 = new dropdown( $('#dd3') );

				$(document).click(function() {
					// all t-dropdowns
					$('.t-dropdown-wrapper').removeClass('active');
				});

			});





</script>







