<div class="t-block">
  <div class="t-middle">
<div class="t-register-card">
  <div class="t-register-form">
    <%= form_for(:session,url:(sessions_path)) do |f| %>
      <%= f.text_field :email, class: 't-input'%>
      <%= f.password_field :password, class: 't-input' %>
      <%= submit_tag "Sign in", class: "t-submit" %>
      <% end %>
  </div>
  <div class="t-register-def">
    <div class="t-register-text">Your information is secure stored and prodected. Take your step.</div>
    <%= image_tag("register.png", :alt => "logo",:class => "t-register-picture") %>
    <p class="t-signup-link">New user? <%= link_to "Sign up now!", signup_path ,class: "t-signup-link-button"%></p>

  </div>
</div>
</div>
</div>





<script>
$(document).ready(function() {
    var id=["#session_email","#session_password"];
    var value=["Email","Password"];

    for(i=0;i<6;i++) {
      $(id[i]).attr("placeholder", value[i]);
    }

});
</script>