<div class="t-block">
  <div class="t-middle">
<div class="t-register-card">
  <div class="t-register-form">
    <%= form_for(@user) do |f| %>
     <%= render 'shared/error_messages' %>
      <%= f.text_field :name, class: 't-input'%>
      <%= f.text_field :country, class: 't-input'%>
      <%= f.text_field :city, class: 't-input'%>
      <%= f.text_field :email, class: 't-input' %>
      <%= f.password_field :password, class: 't-input' %>
      <%= f.password_field :password_confirmation, class: 't-input' %>
      <%= submit_tag "Create my account", class: "t-submit" %>
      <% end %>
  </div>

  <div class="t-register-def">
    <div class="t-register-text">Create account in 60 seconds and start your career path.</div>
    <%= image_tag("register.png", :alt => "logo",:class => "t-register-picture") %>
    <% if @user.errors.any? %>
    <% if @user.errors.include?(:name) %>
      <div class="t-error -name">x</div>
    <% end%>
    <% if @user.errors.include?(:country) %>
      <div class="t-error -country">x</div>
    <% end %>
    <% if @user.errors.include?(:city) %>
      <div class="t-error -city">x</div>
    <% end %>
    <% if@user.errors.include?(:email) %>
       <div class="t-error -mail">x</div>
    <% end %>
    <% if@user.errors.include?(:password) %>
       <div class="t-error -pass">x</div>
    <% end %>
    <% if@user.errors.include?(:password_confirmation) %>
      <div class="t-error -confirm">x</div>
    <% end %>
    <% end %>
  </div>
</div>
</div>
</div>





<script>
$(document).ready(function() {
    var id=["#user_name","#user_email","#user_password","#user_password_confirmation",'#user_city','#user_country'];
    var value=["Full Name","Email","Password","Repeat password","City","Country"];

    for(i=0;i<6;i++) {
      $(id[i]).attr("placeholder", value[i]);
    }

});
</script>