<div class="t-main-container">
	<div class="t-middle">
		<div>
			<div class="t-register-card">
				<%= image_tag("counter.png", :alt => "logo",:class => "t-counter") %>
				<div class="t-counter-text">Come back in</div>
				<div class='t-clock' data-countdown-until="<%= 10.days.from_now %>"></div>
				<%= link_to "Back to main page", root_path, {:class=>"t-card-button -left"} %>
				<%= link_to "Recent news",  "https://www.facebook.com/hireyoung/", {:class=>"t-card-button -right"} %>
			</div>
		</div>
	</div>
</div>


<script>





$(document).ready(function(){
	liftoffTime=new Date(2015, 12-1, 15);
  $('.t-clock').countdown({until: liftoffTime, format: 'DHM',layout:'<a class="t-clock-digit">{d<}{dn}</a> <a class="t-clock-word">{dl} {d>}</a> <a class="t-clock-digit">{hn}</a> <a class="t-clock-word">{hl}</a> <a class="t-clock-digit">{mn}</a> <a class="t-clock-word">{ml}</a>',labels:["year","month","week","days","hours","minutes","second"]});
});
</script>