//@import "bootstrap";

$brand-color:#50bdc6;
$brand-dim-color:#46AFB9;
$red-color:rgb(234,72,98);

@font-face {
  font-family: 'Roboto-bold';
  src:font-url('Roboto-bold.ttf'); 
}
@font-face {
  font-family: 'Roboto-light';
  src:font-url('Roboto-light.ttf'); 
}
@font-face {
  font-family: 'Roboto-regular';
  src:font-url('Roboto-normal.ttf'); 
}

body {
  font-family: 'Roboto-regular';
}
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.s-1 {
  background-color: white;
}
.s-2 {
  background-color: #50bdc6;
}
.s-3 {
  background-color: white;
}
.s-4 {
  background-color: #50bdc6;
}
.s-6 {
  background-color: #50bdc6;
}


/* LOADER */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: white;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}
h1{
  color: #EEEEEE;
} 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $red-color;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: $brand-color;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 1s ease-out; 
                transition: all 0.3s 1s ease-out;
}
.no-js #loader-wrapper {
    display: none;
}

/*  TOOLBAR  */
.t-toolbar {
  top:0px;
  left:0px;
  display: block;
  position: fixed;
  width: 100%;
  background-color: rgba(255,255,255,1);
  z-index: 70;
  font-size: 18px;
  border-bottom: solid rgba(0,0,0,0.2) 0.5px;
  box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.3);
  height: 50px;
  text-align: center;
}

.t-toolbar-menu {
  display: block;
  float: right;
  margin: auto;
  margin-right: 5%;
  &.-hidden {
    display: none;
  }
}
.t-toolbar-el {
  
  display: block;
  float: left;
  padding:15px 15px;
  &.-log {
    font-family: 'Roboto-bold';
  }
    &:hover{
      color:#50bdc6;
      cursor: pointer;
    }
    
    padding: 3px 15px;
    margin-top: 11px;
    }


.t-toolbar-logo {
  display: block;
  float: left;
  margin: auto;
  margin-left: 5%;
  &.-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: inline-block;
  }
}
.t-logo {
  display: block;
  &.-small {
    height: 50px;
  }
}


/* SECTION/BLOCKS */

//Overview
.t-overview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width:70%;
  min-width: 385px;
}
.t-overview__header {
  margin-bottom: 30px;
}
.t-overview__button {
  &:nth-child(3) {
    margin-left: 30px;
  }
}

//Featured
.t-featured {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:80%;
  text-align: center;
}
.t-featured__row {
  display: table;
  width: 100%;
}
.t-featured__row-item {
  width:33.3%;
  display: table-cell;
  text-align: center;
}
.t-featured__icon {
  margin-bottom: 20px;
  height: 100px;
}
.t-featured__description {
  padding: 0px 10px 0px 10px;
  font-size: 24px;
  color: white;
}
.t-featured__button {
  margin-top: 100px;
  &:nth-child(3) {
    margin-left: 30px;
  }
}

//Register
.t-register {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width:80%;
}
.t-register__header {
  margin-bottom: 50px;
}
.t-register__row {
  display: table;
  width: 100%;
}
.t-register__row-item {
  width: 24.9%;
  display: table-cell;
}
.t-register__dropdown {
  display: block;
  text-align: center;
}
.t-register__text {
  display: block;
}
.t-register__button {

}

//Contact
.t-contact {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width:70%;
  min-width: 385px;
}
.t-contact__header {
  margin-bottom: 30px;
}
.t-contact__button {
  &:nth-child(3) {
    margin-left: 30px;
  }
}

//Feedback
.t-feedback {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width:70%;
  min-width: 385px;
}
.t-feedback__header {
  color: white;
  margin-bottom: 30px;
}
.t-feedback__button {
  &:nth-child(3) {
    margin-left: 30px;
  }
}



/* PICTURES */
.t-picture { 
  display: block;
  position: absolute;
  &.-bottom {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -0px;
  }
  &.-main {
    width: 80%;
  }
  &.-register {
     width: 60%;
  }
  &.-contact {
    width: 60%;
  }
  &.-feed {
     width: 60%;
  }
}

/*  BUTTONS  */
.t-button {
  text-decoration: none;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }

  //Color
  &.-white {
    background-color: white;
    color:$brand-color;
    border: solid $brand-color 1px;
    &:hover {
      background: $brand-color;
      color:white;
    }
  }
  &.-hollow {
    background-color: transparent;
    border: solid white 1px;
    color:white;
    &:hover {
      background: white;
      color:$brand-color;
    }
  }
  &.-blue {
    background-color:$brand-color;
    color: white;
    &:hover {
      background: $brand-dim-color;
    }
  }

  //Size
  &.-big {
    width:175px;
    line-height: 50px;
    border-radius:5px;
    font-size: 20px;
  }
  &.-social {
    width: 50px;
  }
  &.-small {
    width:130px;
    line-height: 30px;
    border-radius:3px;
    font-size: 14px;
  }
}

.t-button__text {
  text-align: center;
  display: inline-block;
}


/* HEADERS */
.t-header {
  font-family: "Roboto-bold";
  &.-first {
    font-size: 36px;
  }
  &.-second {
    font-size: 32px;
  }
}


/* DROP DOWNS */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background: transparent; 
}

::-moz-selection {
    background: transparent; 
}

.t-register-text {
  font-size: 18px;
  display: block;
  position: relative;
  float: left;
  margin-right:25px;
  line-height: 41px;

}
.t-register-cell {
  display: table-cell;
}
.t-company-img {
  height:200 ;
  margin:0 auto;
}

.t-dropdown-wrapper {

    font-family: "Roboto-regular";
    position: relative;
    width: 100%;
    height: 54px;

    border-radius: 7px;
    border: solid #50bdc6 2px;
    cursor: pointer;
    text-decoration: none;
    
    text-align: left;
    outline: none;
}
.t-dropdown__text {
  padding-left: 17px;
  padding-right: 17px;
  color:#50bdc6;
  font-size: 18px;
  line-height: 50px;
}
.t-dropdown__title {
  font-size: 11px;
  display: block;
  color: black;
  position: absolute;
  left: 17px;
  top: 3px;
}
.t-dropdown-wrapper:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color:#50bdc6  transparent;

}

.t-dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;

    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.t-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    

}

.t-dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.t-dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color:#50bdc6;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.t-dropdown li i {
    float: right;
    color: inherit;
}

.t-dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.t-dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.t-dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.t-dropdown-wrapper.active .t-dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .t-dropdown-wrapper .t-dropdown,
.no-pointerevents .t-dropdown-wrapper .t-dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .t-dropdown-wrapper.active .t-dropdown,
.no-pointerevents .t-dropdown-wrapper.active .t-dropdown {
    display: block;
}




.t-blur-all {
  
  -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    &.-show{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);

  }
  -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    
}

.t-modal {
  font-family: 'Roboto-regular';
  background-color: white;
  box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.3);
  border-radius: 7px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  min-height: 120px;
  height: auto;
  z-index: 2000;
  visibility: hidden;

  transform: translateX(-50%) translateY(-50%);

  &.-show {
    visibility: visible;
  }
}
.t-modal__inner {
  margin-top: 10%;
  margin-bottom: 10%;
  padding:30px;
}
.t-modal__text {
  display: block;
  font-size: 20px;
  &:nth-child(2){
    margin-bottom: 35px;
  }
  
  text-align: center;
}
.t-modal__row {
  display: table;
  width:100%;
  
}
.t-modal__row-el{
  vertical-align: top;
  display: table-cell;
  &:nth-child(2){
    width: 150px;
  }
}
.t-modal__input {
  width: 100%;
  height: 32px;
  border:1px solid $brand-color;
  line-height: 25px;
  text-align: center;
  font-size: 20px;
  color:$brand-color;
  outline: none;

}
.t-modal__submit {
  margin-left: 20px;
}

